body{
    background-color: wheat;
}

h4{
    color: brown;
    font-size: 90px;
    font-weight: lighter;
}

a{

}

#Divertissement{
    background-color: aquamarine;
}

.accent{
    background-color: blue;
}